/* ---------- Menu Principal ---------- */

#caixaMenuTopo 
{ width:850px; overflow:hidden; font-family:"Arial", Geneva, sans-serif; font-size:12px; font-weight:bold; border-left:1px solid #414040; }

#caixaMenuTopo ul           
{ margin:0px; padding:0px; }

#caixaMenuTopo li           
{ list-style:none; display:inline; text-align:center; }
#caixaMenuTopo li a:link    
{ float:left; text-decoration:none; color:#c9c9c9; display:block; padding-top:20px; padding-bottom:22px; padding-right:15px; padding-left:15px; background:url(../images/bg02.gif); border-right:1px solid #414040; }
#caixaMenuTopo li a:active  
{ float:left; text-decoration:none; color:#c9c9c9; display:block; padding-top:20px; padding-bottom:22px; padding-right:15px; padding-left:15px; background:url(../images/bg02.gif); border-right:1px solid #414040; }
#caixaMenuTopo li a:visited 
{ float:left; text-decoration:none; color:#c9c9c9; display:block; padding-top:20px; padding-bottom:22px; padding-right:15px; padding-left:15px; background:url(../images/bg02.gif); border-right:1px solid #414040; }
#caixaMenuTopo li a:hover   
{ float:left; text-decoration:none; color:#c9c9c9; display:block; padding-top:20px; padding-bottom:22px; padding-right:15px; padding-left:15px; background-color:#6d7b47; background:url(../images/bg01.gif); border-right:1px solid #414040; }

/* ---------- Conteudo ---------- */

#conteudo 
{ overflow:hidden; font-family:verdana, Geneva, sans-serif; font-size:12px; }

#titulo
{ overflow:hidden; padding:10px; background:#999; color:#FFF; }

/* ---------- Menu 2 ---------- */

#caixaMenu2
{ margin-left:auto; margin-right:auto; width:616px; overflow:hidden; font-family:"Futura Md BT", Geneva, sans-serif; font-size:14px; font-weight:bold; border-left:1px solid #FFFFFF; }

#caixaMenu2 ul           
{ margin:0px; padding:0px; }

#caixaMenu2 li           
{ list-style:none; display:inline; text-align:center; }
#caixaMenu2 li a:link    
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu2 li a:active  
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu2 li a:visited 
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu2 li a:hover   
{ float:left; text-decoration:none; color:#FFF; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background-color:#6d7b47; background:url(../images/bg01.gif); border-right:1px solid #FFFFFF; }

/* ---------- Menu 3 ---------- */

#caixaMenu3
{ margin-left:auto; margin-right:auto; width:595px; overflow:hidden; font-family:"Futura Md BT", Geneva, sans-serif; font-size:14px; font-weight:bold; border-left:1px solid #FFFFFF; }

#caixaMenu3 ul           
{ margin:0px; padding:0px; }

#caixaMenu3 li           
{ list-style:none; display:inline; text-align:center; }
#caixaMenu3 li a:link    
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu3 li a:active  
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu3 li a:visited 
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu3 li a:hover   
{ float:left; text-decoration:none; color:#FFF; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background-color:#6d7b47; background:url(../images/bg01.gif); border-right:1px solid #FFFFFF; }

/* ---------- Menu 4 ---------- */

#caixaMenu4
{ margin-left:auto; margin-right:auto; width:465px; overflow:hidden; font-family:"Futura Md BT", Geneva, sans-serif; font-size:14px; font-weight:bold; border-left:1px solid #FFFFFF; }

#caixaMenu4 ul           
{ margin:0px; padding:0px; }

#caixaMenu4 li           
{ list-style:none; display:inline; text-align:center; }
#caixaMenu4 li a:link    
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu4 li a:active  
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu4 li a:visited 
{ float:left; text-decoration:none; color:#1f327f; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background:url(../images/bg02.gif); border-right:1px solid #FFFFFF; }
#caixaMenu4 li a:hover   
{ float:left; text-decoration:none; color:#FFF; display:block; padding-top:8px; padding-bottom:8px; padding-right:27px; padding-left:27px; background-color:#6d7b47; background:url(../images/bg01.gif); border-right:1px solid #FFFFFF; }